SITE_NAME=Access Infra
ADMIN_ACCOUNT=admin@accessinfraconsulting.com
ADMIN_PASSWORD_HASH=
MFA_ISSUER=Access Infra Admin

DB_HOST=localhost
DB_NAME=
DB_USER=
DB_PASS=

ENCRYPTION_KEY=
BLIND_INDEX_KEY=

MAIL_FROM=admin@accessinfraconsulting.com
MAIL_FROM_NAME=Access Infra Admin

DEBUG_ERRORS=false
